
# dependencies
/node_modules
/.pnp
.pnp.js


# testing
/coverage

# production
/build
build.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
survivalsroweb.pub
survivalsro-web-site.pub
.github/
.idea/
firebase.json
.firebase/
.firebaserc
.env
ca.crt
ca.key
firebase-debug.log
